// ==========================
// 🎨 Colors
// ==========================
$colors :(pale-blue: hsl(189, 47%, 97%),
    light-blue: hsl(185, 41%, 84%),
    grey-400:hsl(184, 14%, 56%),
    grey-500: hsl(186, 14%, 43%),
    dark-green: hsl(183, 100%, 15%),
    primary-green: hsl(172, 67%, 45%));

@function color($name) {
    @return map-get($colors, $name)
}

;

@mixin Btn-Style($bg, $text-color) {
    background-color: $bg;
    color: $text-color;
    border: none;
    border-radius: 0.25em;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    padding-block: 0.5em;
}

// ==========================
// ✍ Typography
// ==========================
$font-family-base: 'Space Mono', sans-serif;
$font-size-base: 24px;
$font-weight-base :700;

// ==========================
// 🔧 Global Reset & Base Styles
// ==========================
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: $font-size-base;
    font-family: $font-family-base;
    width: 100%;
    min-height: 100vh;
    display: grid;
    align-content: start;
    justify-content: center;
    gap: 1em;
    background-color: color(light-blue);
    color: color(grey-500);
    padding-block: 2em;
}

h1 {
    letter-spacing: 0.25em;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    display: grid;
    height: fit-content;
}


// ==========================
// 🏗 Layout
// ==========================
.wrapper {
    width: 100%;
    background-color: #fff;
    border-radius: 1em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;

    @media (min-width: 45em) {
        width: 30em;
        flex-direction: row;
        column-gap: 2em;
    }
}

.input-section {
    .tip-form {
        padding: 0.5em;
        font-size: 0.75em;
        font-weight: $font-weight-base;
        display: grid;
        gap: 1em;

        legend {
            display: grid;
            gap: 0.5em;

            input {
                border: none;
                padding: 1em 0.5em;
                border-radius: 0.5em;
                background-color: color(pale-blue);
                padding-inline-start: 2em;
            }

            input#bill {
                background: url('images/icon-dollar.svg') no-repeat 8px center;
                background-color: color(pale-blue);
            }

            input#people {
                background: url('images/icon-person.svg') no-repeat 8px center;
                background-color: color(pale-blue);
            }

            input#custom-tip {
                width: 100%;
                text-align: center;
                font-weight: $font-weight-base;
            }

            .btn-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1em;

                .tip-btn {
                    @include Btn-Style(color(dark-green), #fff);

                }

            }
        }
    }

}


.output-section {
    background-color: color(dark-green);
    border-radius: 1.5em;
    padding: 1em;
    display: grid;
    gap: 1em;
    width: 100%;

    .output {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        :first-child {
            color: #fff;
            font-weight: $font-weight-base;
        }

        :last-child {
            font-size: 0.5em;
            color: color(grey-400);
        }

        .output-value {
            font-size: 2em;
            font-weight: bolder;
            color: color(primary-green);
        }
    }


    #reset-btn {
        @include Btn-Style(color(primary-green), color(dark-green));
    }

}