*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 24px;
  font-family: "Space Mono", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: start;
  gap: 1em;
  background-color: #c5e4e7;
  color: #5e7a7d;
  padding-block-start: 1em; }

h1 {
  letter-spacing: 0.25em;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  display: grid;
  height: fit-content; }

.wrapper {
  width: 100%;
  background-color: #fff;
  border-radius: 1em;
  padding: 0.5em;
  display: grid;
  gap: 1em; }
  @media (min-width: 45em) {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      max-width: 45em; } }

.input-section .tip-form {
  padding: 0.5em;
  font-size: 0.75em;
  font-weight: 700;
  display: grid;
  gap: 1em; }
  .input-section .tip-form legend {
    display: grid;
    gap: 0.5em; }
    .input-section .tip-form legend input {
      border: none;
      font-weight: 700;
      font-size: 24px;
      padding: 0.5em;
      border-radius: 0.5em;
      background-color: #f4fafb;
      padding-inline-start: 2em; }
      .input-section .tip-form legend input:focus {
        outline: solid 3px #26c0ab;
        color: #00494d; }
      .input-section .tip-form legend input :invalid {
        border-color: red; }
    .input-section .tip-form legend input#bill {
      background: url("images/icon-dollar.svg") no-repeat 8px center;
      background-color: #f4fafb;
      text-align: right; }
    .input-section .tip-form legend input#people {
      background: url("images/icon-person.svg") no-repeat 8px center;
      background-color: #f4fafb;
      text-align: right; }
    .input-section .tip-form legend input#custom-tip {
      width: 100%;
      text-align: center; }
    .input-section .tip-form legend .btn-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em; }
      @media (min-width: 45em) {
        .input-section .tip-form legend .btn-wrapper {
          grid-template-columns: repeat(3, 1fr); } }
      .input-section .tip-form legend .btn-wrapper .tip-btn {
        background-color: #00494d;
        color: #fff;
        border: none;
        border-radius: 0.25em;
        font-size: 24px;
        font-weight: 700;
        padding-block: 0.5em;
        cursor: pointer; }
        .input-section .tip-form legend .btn-wrapper .tip-btn:hover {
          background-color: #c5e4e7;
          color: #00494d; }
      .input-section .tip-form legend .btn-wrapper .tip-btn.active {
        background-color: #26c0ab; }

.output-section {
  background-color: #00494d;
  border-radius: 1.5em;
  padding: 1em;
  display: grid;
  align-content: space-between;
  gap: 1em;
  width: 100%; }
  .output-section .output {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .output-section .output :first-child {
      color: #fff;
      font-weight: 700; }
    .output-section .output :last-child {
      font-size: 0.5em;
      color: #7f9c9f; }
    .output-section .output .output-value {
      font-size: 2em;
      font-weight: bolder;
      color: #26c0ab; }
  .output-section #reset-btn {
    background-color: #26c0ab;
    color: #00494d;
    border: none;
    border-radius: 0.25em;
    font-size: 24px;
    font-weight: 700;
    padding-block: 0.5em;
    cursor: pointer; }
    .output-section #reset-btn:hover {
      background-color: #c5e4e7;
      color: #00494d; }

/*# sourceMappingURL=style.css.map */
