// ==========================
// 🎨 Colors
// ==========================
$colors: (
    pale-blue: hsl(189, 47%, 97%),
    light-blue: hsl(185, 41%, 84%),
    grey-400: hsl(184, 14%, 56%),
    grey-500: hsl(186, 14%, 43%),
    dark-green: hsl(183, 100%, 15%),
    primary-green: hsl(172, 67%, 45%)
);

@function color($name) {
    @return map-get($colors, $name);
}

@mixin Btn-Style($bg, $text-color) {
    background-color: $bg;
    color: $text-color;
    border: none;
    border-radius: 0.25em;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    padding-block: 0.5em;
    cursor: pointer;

    &:hover {
        background-color: color(light-blue);
        color: color(dark-green);
    }
}

@mixin Input-Icon($icon) {
    background: url($icon) no-repeat 8px center;
    background-color: color(pale-blue);
    text-align: right;
}

// ==========================
// ✍ Typography
// ==========================
$font-family-base: 'Space Mono', sans-serif;
$font-size-base: 24px;
$font-weight-base: 700;

// ==========================
// 🔧 Global Reset & Base Styles
// ==========================
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: $font-size-base;
    font-family: $font-family-base;
    width: 100%;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: start;
    gap: 1em;
    background-color: color(light-blue);
    color: color(grey-500);
    padding-block-start: 1em;
}

h1 {
    letter-spacing: 0.25em;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    display: grid;
    height: fit-content;
}

// ==========================
// 🏗 Layout
// ==========================
.wrapper {
    width: 100%;
    background-color: #fff;
    border-radius: 1em;
    padding: 1em;
    display: grid;
    gap: 1em;

    @media (min-width: 45em) {
        grid-template-columns: repeat(2, 1fr);
        max-width: 45em;
    }
}

.form-section {
    #tip-form {
        padding: 0.5em;
        font-size: 0.75em;
        font-weight: $font-weight-base;
        display: grid;
        gap: 1em;

        .form-group {
            border: none;
        }

        .form-group,
        fieldset {
            display: grid;
            gap: 0.5em;

            input {
                border: none;
                font-weight: $font-weight-base;
                font-size: $font-size-base;
                padding: 0.5em;
                border-radius: 0.5em;
                background-color: color(pale-blue);
                padding-inline-start: 2em;

                &:focus {
                    outline: solid 3px color(primary-green);
                    color: color(dark-green);
                }

                &:invalid {
                    border: 2px solid red;
                }
            }

            input#bill {
                @include Input-Icon('images/icon-dollar.svg');
            }

            input#people {
                @include Input-Icon('images/icon-person.svg');
            }

            input#custom-tip {
                width: 100%;
                text-align: center;
            }

            .btn-wrapper {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1em;

                @media (min-width: 45em) {
                    grid-template-columns: repeat(3, 1fr);
                }

                .tip-btn {
                    @include Btn-Style(color(dark-green), #fff);
                }

                .tip-btn.active {
                    background-color: color(primary-green);
                }
            }
        }
    }
}

.result-section {
    background-color: color(dark-green);
    border-radius: 1.5em;
    padding: 1em;
    display: grid;
    align-content: space-between;
    gap: 1em;
    width: 100%;

    
    .output {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .content {
            display: grid;
            grid-template-columns: 1fr;
        }
        .output-label {
            p:first-child {
                color: #fff;
                font-weight: $font-weight-base;
            }

            p:last-child {
                font-size: 0.5em;
                // color: color(grey-400);
            }
        }

        .output-value {
            font-size: 2em;
            font-weight: bolder;
            color: color(primary-green);
        }
    }

    #reset-btn {
        @include Btn-Style(color(primary-green), color(dark-green));
    }
}